<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <h3 class="mt-4">Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation"enctype="multipart/form-data">   <!-- enctype is used for file upload form  -->
      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          name="listing[title]" 
          id="title" 
          placeholder="Enter title" 
          class="form-control" 
          type="text" 
          required 
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
          name="listing[description]" 
          id="description" 
          class="form-control" 
          placeholder="Enter a short description" 
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <!-- Image URL -->
      <div class="mb-3">
        <label for="image" class="form-label">Upload listing image</label>
        <input 
          name="listing[image][url]" 
          id="image" 
          class="form-control" 
          type="file" 
          required
        />
      </div>

      <!-- Price and Country -->
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input 
            name="listing[price]" 
            id="price" 
            placeholder="Enter price" 
            class="form-control" 
            type="number" 
            required 
          />
          <div class="invalid-feedback">Please provide a valid price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input 
            name="listing[country]" 
            id="country" 
            placeholder="Enter country" 
            class="form-control" 
            type="text" 
            required 
          />
          <div class="invalid-feedback">Please provide a valid country.</div>
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input 
          name="listing[location]" 
          id="location" 
          placeholder="Enter location" 
          class="form-control" 
          type="text" 
          required 
        />
        <div class="invalid-feedback">Please provide a valid location.</div>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-dark add-to-btn" type="submit">Add</button>
    </form>
  </div>
</div>